footer {
  background-color: #3D4050;
}
footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
footer .footer-content .rights {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}
footer .footer-content .payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  border-top: 0;
  border-bottom: 0;
  padding: 0 42px;
}
footer .footer-content .payments .payments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  color: rgb(195, 195, 195);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
}
footer .footer-content .payments .payments-item img {
  margin-right: 10px;
}
footer .footer-content .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-content .contacts .contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  color: rgb(195, 195, 195);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
}
footer .footer-content .contacts .contacts-item img {
  margin-right: 10px;
}