footer{
    background-color: #3D4050;
    

    .footer-content{
        display: flex;
        justify-content: space-between;
        padding: 1.875rem 0;

        .rights{
            font-size: .8125rem;
            font-weight: 400;
            line-height: 1rem;
            color: #fff;
            
        }

        .payments{
            display: flex;
            border: .0625rem solid #fff;
            border-top: 0;
            border-bottom: 0;
            padding: 0 2.625rem;
            
            .payments-item{ 
                display: flex;
                align-items: center;
                margin-right: 1.5625rem;
                color: rgb(195, 195, 195);
                font-size: .8125rem;
                font-weight: 400;
                line-height: 1rem;
                letter-spacing: 0%;
                img{
                    margin-right: .625rem;
                }
                    
            }
        }

        .contacts{
            display: flex;
            justify-content: space-between;
            .contacts-item{ 
                display: flex;
                align-items: center;
                margin-right: 1.5625rem;
                color: rgb(195, 195, 195);
                font-size: .8125rem;
                font-weight: 400;
                line-height: 1rem;
                letter-spacing: 0%;

                img{
                    margin-right: .625rem;
                }
            }
        }

        @media(max-width: 1200px){
            flex-direction: column;
            .rights{
                margin-bottom: 20px
            }

            .contacts{
                flex-direction: column;
                .contacts-item{
                    margin-bottom: 10px
                }
            }

            .payments{
                border: none;
                padding: 0;
                margin-bottom: 20px
            }
        }
    }
   
}