footer{
    background-color: #3D4050;
    

    .footer-content{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .payments{
            display: flex;
            
        }
    }
   
}