footer{
    background-color: #3D4050;
    

    .footer-content{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .rights{
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            color: #fff;
            
        }

        .payments{
            display: flex;
            border: 1px solid #fff;
            border-top: 0;
            border-bottom: 0;
            padding: 0 42px;
            
            .payments-item{ 
                display: flex;
                align-items: center;
                margin-right: 25px;
                color: rgb(195, 195, 195);
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;
                img{
                    margin-right: 10px;
                }
                    
            }
        }

        .contacts{
            display: flex;
            justify-content: space-between;
            .contacts-item{ 
                display: flex;
                align-items: center;
                margin-right: 25px;
                color: rgb(195, 195, 195);
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0%;

                img{
                    margin-right: 10px;
                }
            }
        }

        @media(max-width: 75rem){
            flex-direction: column;
            .rights{
                margin-bottom: 1.25rem
            }

            .contacts{
                flex-direction: column;
                .contacts-item{
                    margin-bottom: .625rem
                }
            }

            .payments{
                border: none;
                padding: 0;
                margin-bottom: 1.25rem
            }
        }
    }
   
}