.order{
  background-image: url('/img/formsBg.png');
  max-width: 100%;

  .order-content{
    padding: 150px 0;

    .order-text{
      text-align: center;
      margin-bottom: 80px;
      .section-title{
        color: #fff;
        font-size: 36px;
        font-weight: 800;
        line-height: 43px;
        letter-spacing: 0%;
        margin-bottom: 30px
      }
      .section-subtitle{
        color: rgb(187, 187, 187);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
      }
    }

    
    .order-cheme{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 5rem;

        
        .order-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &::before{
                content: url('/img/points.png');
                position: absolute;
                top: 25%;
                left: 85%;
                
                
                
            }

            

            
            .order-card-circle{
                background-color: #3E9CDC;
                border-radius: 100%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span{
                margin-top: 1.25rem;
                max-width: 189px;
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0%;
                text-align: center;
            }
        }

        .order-card__empty::before{
            display: none
        }

      @media(max-width: 920px){
        flex-direction: column;

        .order-card{
          margin-bottom: 35px
        }
        .order-card::before{
          display: none;
        }
      }
    }

    .order-form{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;

      input,select{
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.85);
        padding: 12px 10px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        color: rgb(39, 39, 51);
        
      }

      #file-upload-button{
        border: 2px solid rgb(62, 156, 220);
        border-radius: 3px;
        background: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
      }
      @media(max-width: 1200px){
        display: flex;
        flex-direction: column;;
      }
    .input-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%;
        position: relative;
        margin: .9375rem 0;
        text-align: center;
        border-radius: .1875rem;
        background: rgb(255, 255, 255);
        font-size: .9375rem;
        font-weight: 600;
        line-height: 1.125rem;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        padding: 12px;
        flex:  1;

        .input-button{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-right: .75rem
            }
        }
        .file-input{
            opacity: 0;
            // visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            @media(max-width: 375px){
              padding: 0
            }
            
            
        }
    }

    .range-wrapper{
      grid-area: 2 / 1 / 3 / 3;
      overflow: hidden; 
        
      .range-text{
          display: flex;
          justify-content: space-between;
          span{
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
          color: #fff
          }

        @media(max-width: 375px){
          span{
            max-width: 200px
          }
        }
      }

      #rangeElem{
          width: 98%;
          background-color: transparent;
          border: none
      }

    
      }
    }
  }
}

input[type=range] {
  -webkit-appearance: none; 
  width: 100%;
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/*Chrome*/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #286690;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #42A9ED;
  cursor: pointer;
  margin-top: -9px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/*Firefox */
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 3px solid #286690;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #42A9ED;
  cursor: pointer;
  margin-top: -9px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
  cursor: pointer;
}

/*IE*/
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: 3px solid #286690;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #42A9ED;
  cursor: pointer;
  margin-top: -9px; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.70);
  border-radius: 3px;
  border: 1px solid #fff;
}


input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.70);
  border-radius: 3px;
  border: 1px solid #fff;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0.70);
  border-radius: 3px;
  border: 1px solid #fff;
}

