header{
    background-color: rgba(16, 16, 29, 0.90);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2.0625rem;

    .header-content{
        display: flex;
        justify-content: space-between;

        .header-logo{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                object-fit: cover;
                max-width: 100%;
            }

            @media(max-width: 375px){
                max-width: 160px

            }
        }
        .navigation{
            display: flex;
            flex: 0 1 30%;
            justify-content: space-between;
            
            .navigation-item{
                a{
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: .8125rem;
                    &:hover{
                        color: rgb(67, 171, 240);
                        transition: color .3s
                    }
                }
            }

            @media(max-width: 1200px){
                display: none
            }
        }
    }

    .burger{
        display: none;
        width: 20px;
        height: 20px;
        span{
            height: 3px;
            background-color: #fff;
            border-radius: 3px
        }

        @media(max-width: 1200px){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }
}
