@import 'header';
@import 'banner';
@import 'form';
@import 'footer';
@import 'mobileMenu';

html{
    box-sizing: border-box
}
body{
    font-family: 'Raleway';
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

.overflow-hidden{
    overflow-y: hidden;
    position: fixed;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0
}
    
a{
    text-decoration: none;
    color: rgb(195, 195, 195);
}

.container{
    width: 100%;
    max-width: 73.125rem;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 1170px){
        width: 95%;
        max-width: 1024px
    }
}

.txt-blue{
    color: #3E9CDC
}

.btn{
    border-radius: .25rem;
    padding: .9375rem .625rem;
    font-family: 'Raleway';
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: .9375rem .625rem;
    width: 11.4375rem;
    cursor: pointer;
    transition: background-color, .2s;

}

.btn__blue{
    background-color: #3E9CDC;
    border: none;
    color: #fff;
    &:hover{
        background-color: #0a8ae6;
        
    }
}

.btn__white{
    background-color: #fff;
    border: .0625rem solid #6F6D7B;
    color: #2A2B30;
    &:hover{
        border: .0625rem solid transparent;
        background-color: #4b7891;
        color: #fff;
        transition: background-color, color, .2s;
    }
}




        
